<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a PhD Candidate in
      <a class="underline-link" href="https://www.bsbrl.org/location" target="_blank">Mechanical Engineering</a> at the University of Minnesota Twin Cities. My doctoral research is centered on engineering new tools to enhance neuroscience studies, particularly focusing on developing novel neural recording devices capable of high spatial resolution activity recording from the brain of freely moving mice. This work is highly interdisciplinary, requiring me to combine various technologies, including optics, advanced 3D printing, precision CNC machining, intricate PCB design, and robust CAD design. It's a challenging yet rewarding journey that pushes the boundaries of neuroscience research.
    </p>

    <p>
      Beyond my academic and professional pursuits, I am deeply passionate about sharing knowledge. I'm an active volunteer instructor for 
      <a class="underline-link" href="https://software-carpentry.org/about-us" target="_blank">Software Carpentries</a>, a non-profit dedicated to teaching essential coding and data management skills to researchers. In my free time, I thoroughly enjoy delving into 
      <a class="underline-link" href="https://www.instructables.com/member/OladepoI/instructables/" target="_blank">DIY projects</a>, engaging in various sports, and expressing my creativity through 
      <a class="underline-link" href="https://www.behance.net/Oladepo-Ibrahim" target="_blank">graphic design</a> and 
      <a class="underline-link" href="https://medium.com/@IbrahimOladepo" target="_blank">writing</a>. These activities provide a vital balance and allow me to continuously learn and grow in diverse ways.
    </p>

    <!-- <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p> -->

    <!-- {% include employment-status.html %} -->
  </div>
</section>
