<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">MCU/SBC</div>
        <ul>
          {% for mcu in site.data.skills.mcu_sbc %}
          <li class="skillz__category__item">{{mcu.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Design/Simulation</div>
        <ul>
          {% for design in site.data.skills.design_simulation %}
          <li class="skillz__category__item">{{design.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Design/Production</div>
        <ul>
          {% for design in site.data.skills.design_production %}
          <li class="skillz__category__item">{{design.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
